body {
	background-color: white;
	max-width: 950px;
	min-width: 600px;
	margin: 0 auto;
	padding: 0 1rem;
}

a:link { color: #1a5296; }
a:visited { color: #6b3a8a; }

.nav-item {
	white-space: nowrap;
	font-size: 0.85em;
}

.section-heading {
	display: block;
	color: #006600;
	font-size: 1.3em;
	margin-top: 0.6em;
	margin-bottom: 0.2em;
}

.people-divider {
	width: 80px;
	margin-left:0;
	border-style: solid;
	border-color: #303030;
}

.nav-divider {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #ababab;
}